// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/dark';

// Override variables here

@import '~nativescript-theme-core/scss/index';


// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.top-time {
  // padding: 10;
  justify-content: space-between;
  align-content: center;
}
.grid {
  padding-left: 10;
  padding-right: 10;
  padding-bottom: 10;    
}
.timecode, .clock {
font-family: 'Digital', 'unicode.digital';
}
.clock {
  color: #fff;
  margin-right: 20;
  align-self: center;
  
}
.timecode {
  font-size: 85;
  color:rgb(15, 174, 202); 
  margin-left: 50;
}

.message {
  vertical-align: center;
  text-align: center;
  font-size: 20;
  color: #fff;
}
.page {
  background-color: #333;
}
.button {
  color: #fff;
  
}
.big-number {
  font-size: 34;
  padding: 0;
}
.button.stepper {
  width: 40%;
  height: 40%;
  font-size: 20;
  border: solid;
  border-width: 1;
  border-color: #fff;
  border-radius: 2;
  padding: -6; // android
  
}
.steppergroup {
  flex-direction: row;
  justify-content: space-around;
}
.top-bg{
  width: 100%;
  margin-top: -5;
}
.meta .meta-content {
  margin-left: 10;
  padding-left: 15;
}
.meta {
  color: rgb(155, 155, 155);
  font-size: 10;
}
.meta-content {
  color: #fff;
  font-size: 12;
  background-color: #333;
  padding: 1 0; // necessary for visibility on android

}

.mark {
  background-color:rgb(15, 174, 202);
  border: none;
  height: 61;
  padding: 1 ;//android
}
.stop {
  background-color: rgb(255, 78, 78);
  border: none;
  border-radius: 0;
  height: 31;
  padding: 1 ; //android
}
.label {
  padding-bottom: 0;
}
.cog {
  color: rgb(133, 133, 133);
  font-size: 25;
  text-align: right;
  margin-right: 20;
  margin-top: 20;
}
.fpsLabel {
  color:#fff;
  text-align: right;
  justify-content:flex-end;
  padding: 0;
}
.fpsLabel Label {
  margin-right: 15;
  margin-left: 2;
}
// LARGE SCREENS
.tablet {
  .top-bg{
    width: 100%;
    margin-top: -30;
  }
  .mark, .stop {
  height: 50;
  font-size: 25;
  margin-right: 15;
  }
  .top-time {
    margin-top: 10;
    margin-bottom: 20;
  
  }
  .timecode {
  font-size: 90;
  }
  .clock {
    font-size: 30;
  }
  .big-number {
    font-size: 70;
  }
  .meta {
    font-size: 20
  }
  .meta-content {
    font-size: 22;
   
  }
  .meta, .meta-content {
    margin-left: 10;
  }
  .fpsLabel {
    font-size: 30;
  }
  .stepper {
    font-size: 30;
  }
  .label {
    font-size: 40;
  }
  
}